@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

@keyframes appear {
  from {
    opacity: 0%;
    transform: scale(0%);
  }

  to {
    opacity: 100%;
    transform: scale(100%);
  }
}

@keyframes expand {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.container {
  flex-direction: column;
}

.container,
.skills {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container,
html,
body {
  height: 100%;
}

.divider {
  animation: 2s expand forwards;
  animation-delay: 2s;
  background-color: #fdfefe;
  height: 4px;
  margin: 0.5rem 0;
  width: 0%;
}

.intro {
  animation-delay: 1s;
  border: 4px solid #fdfefe;
  font-size: 2rem;
  padding: 1rem;
}

.intro,
.skills {
  animation: 2s appear forwards;
  opacity: 0%;
}

.overlay {
  animation: 2s ease-out fadeOut forwards;
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.skills {
  animation-delay: 4s;
  bottom: 0;
  height: 64px;
  left: 0;
  position: absolute;
  width: 100%;
}

body {
  background-image: linear-gradient(#4a235a, black);
  color: #fdfefe;
  font-family: "New Rocker", cursive;
  margin: 0;
}

button {
  animation: 2s appear forwards;
  animation-delay: 3s;
  background: transparent;
  border: 2px solid #fdfefe;
  color: #fdfefe;
  cursor: pointer;
  font-family: "New Rocker", cursive;
  margin-top: 1rem;
  opacity: 0%;
  outline: 0;
  padding: 1rem 2rem;
  transition: 0.25s;
}

button:hover {
  background: rgba(253, 254, 254, 10%);
}

img {
  cursor: pointer;
  margin: 0 8px;
  transition: 0.25s;
  width: 32px;
}

img:hover {
  transform: scale(125%);
}
